<div class="wrapper">
  <form id="searchForm">
    <input type="text" id="address" class="form-control" placeholder="Type an address">
    <input type="submit" value="Geocode!" class="btn btn-default">
  </form>
  <p id="coordinates"></p>
  <div id="map" style="height: 300px"></div>
</div>